body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 80px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

.heart-emoji {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 24px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

header img {
    width: 100px;
    margin-bottom: 10px;
}

header h1 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

#header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #666;
}

.question {
    font-size: 18px;
    margin: 40px 0px 80px 0px; /* Changed from 20px to 30px */
    color: #333;
}

.button {
    flex: 1;
    padding: 8px 16px; /* Reduced from 10px 20px */
    font-size: 16px; /* Reduced from 18px */
    font-weight: bolder;
    color: #a83232;
    background-color: white;
    border: 2px solid #a83232;
    border-radius: 20px; /* Reduced from 25px for a slightly smaller look */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 200px; /* Added to limit the width */
    margin: 0 auto; /* Center the buttons if they don't take full width */
}

.button-container {
    display: flex;
    justify-content: center; /* Changed from space-between to center */
    gap: 20px; /* Increased gap for better separation */
}

.button:hover {
    background-color: #872a2a;
    color: white;
}

.button:focus {
    outline: none;
}

#card-caption {
    font-family: Arial, sans-serif;
    font-size: 8px;
    color: rgb(117, 117, 117);
    text-transform: uppercase;
    letter-spacing: 1px;
    align-items: center;
}


/* Chips for sets */
.set-selector {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px; /* Increased from 20px to 30px */
}

.set-chip {
    flex: 1;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: #a83232;
    background-color: white;
    border: 1px solid #a83232;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.set-chip.active {
    color: white;
    background-color: #a83232;
}


/* Progress bar styles */
.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    margin-top: 20px;
}

#progress-bar {
    height: 10px;
    background-color: #4caf50;
    width: 0%;
    border-radius: 5px;
}
